@import "tailwindcss";

@theme {
    --color-primary: #059669;
    /* Emerald 600 */
    --color-primary-hover: #047857;
    /* Emerald 700 */
    --font-sans: "Outfit", sans-serif;
}

@layer base {
    body {
        @apply font-sans text-gray-800 antialiased bg-slate-50;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}