@import "tailwindcss";

@theme {
  --color-primary: #059669; /* Emerald 600 */
  --color-primary-hover: #047857; /* Emerald 700 */
  --color-secondary: #10B981; /* Emerald 500 */
  --font-sans: "Outfit", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans text-gray-800 antialiased bg-slate-50;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-8 py-3 rounded-full font-light hidden md:block hover:bg-primary-hover transition-all duration-300 shadow-md hover:shadow-lg transform hover:-translate-y-0.5;
  }
  .card-hover {
    @apply hover:-translate-y-2 transition-all duration-500 hover:shadow-xl;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}